<div id="sidebar" class="p-3">
    <h5 class="mb-3">Admin Menu</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="admin_report.html">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="kyc_approval.html">KYC Approval</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="loan_approval.html">Loan Approval</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="addloanproduct.html">Add Loan Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="loan_products.html">Loan Products</a>
        </li>
    </ul>
</div>